$white: white;
$black: black;
$dark-primary: #2A3E57;
$light-primary: #FF978F;
$yellow: #FFD767;
$light-gray: #D9D9D9;
$dark-gray: #747474;  
$gray: #F6F6F6;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px
);