.hero-section {
	height: calc(100vh - 95px);
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 700px;
	background-color: #00000082;
}

.video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.hero-content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 9px;
}

.hero-links {
	display: flex;
	gap: 50px;
}

.hero-links .link {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22141%22%20height%3D%2260%22%20viewBox%3D%220%200%20141%2060%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M109.478%2057.2811V51.9264H138.579V57.2811H109.478ZM114.392%2044.7507H138.571V50.0056H114.392V44.7507ZM120.062%2037.4586H138.571V42.8133H120.062V37.4586ZM124.968%2030.2829H138.571V35.5462H124.985L124.968%2030.2829ZM130.98%2023.1073H138.571V28.3622H130.988L130.98%2023.1073ZM121.692%200.915039C118.035%200.920753%20114.459%201.98963%20111.398%203.99152C111.178%204.13045%20111.021%204.35129%20110.964%204.60546C110.906%204.85963%20110.952%205.12631%20111.091%205.34683C111.23%205.56735%20111.45%205.72365%20111.705%205.78135C111.959%205.83904%20112.225%205.79341%20112.446%205.65448C115.19%203.83891%20118.402%202.85965%20121.692%202.83576C130.98%202.83576%20138.571%2010.7016%20138.571%2020.355V21.1865H130.023C129.896%2021.1867%20129.77%2021.2126%20129.653%2021.2626C129.536%2021.3126%20129.43%2021.3857%20129.342%2021.4775C129.251%2021.5683%20129.18%2021.676%20129.131%2021.7944C129.083%2021.9129%20129.058%2022.0397%20129.059%2022.1677V28.3705H124.053C123.799%2028.3702%20123.555%2028.4686%20123.372%2028.6449C123.191%2028.8262%20123.09%2029.0711%20123.089%2029.3267V35.5462H119.064C118.81%2035.5507%20118.566%2035.6517%20118.383%2035.8289C118.206%2036.012%20118.108%2036.2565%20118.108%2036.5107V42.83H113.427C113.171%2042.83%20112.926%2042.9316%20112.745%2043.1125C112.564%2043.2933%20112.463%2043.5387%20112.463%2043.7945V50.0056H108.505C108.377%2050.0023%20108.251%2050.0246%20108.132%2050.0713C108.014%2050.1179%20107.906%2050.1879%20107.815%2050.2772C107.724%2050.3664%20107.653%2050.473%20107.604%2050.5907C107.555%2050.7083%20107.531%2050.8345%20107.532%2050.9618V57.2811H104.364V32.8106C104.351%2032.6496%20104.298%2032.4944%20104.209%2032.3592C104.12%2032.2241%20103.999%2032.1134%20103.857%2032.0373C103.715%2031.9606%20103.557%2031.9204%20103.396%2031.9205C103.235%2031.9205%20103.077%2031.9608%20102.936%2032.0377C102.794%2032.1145%20102.675%2032.2255%20102.587%2032.3605C102.5%2032.4955%20102.447%2032.6502%20102.435%2032.8106V58.2456C102.434%2058.3725%20102.458%2058.4983%20102.506%2058.6154C102.555%2058.7326%20102.627%2058.8387%20102.718%2058.9274C102.807%2059.0174%20102.913%2059.0887%20103.03%2059.1372C103.147%2059.1857%20103.273%2059.2105%20103.399%2059.2101H139.527C139.655%2059.2112%20139.781%2059.1871%20139.899%2059.1391C140.017%2059.0911%20140.124%2059.0203%20140.215%2058.9306C140.305%2058.8409%20140.377%2058.7342%20140.426%2058.6166C140.475%2058.4991%20140.5%2058.373%20140.5%2058.2456V20.355C140.5%209.61232%20132.061%200.915039%20121.692%200.915039Z%22%20fill%3D%22white%22%3E%3C/path%3E%3Cpath%20d%3D%22M1.76782%2039.1816H99.7678%22%20stroke%3D%22white%22%20stroke-width%3D%221.95%22%20stroke-linecap%3D%22round%22%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: inherit;
	height: 58px;
	background-position: right;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	font-size: 30px;
	padding-right: 18px;
	padding-bottom: 33px;
	color: white;
}

.link.second {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22174%22%20height%3D%2260%22%20viewBox%3D%220%200%20174%2060%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M142.51%2057.2811V51.9264H171.612V57.2811H142.51ZM147.424%2044.7507H171.604V50.0056H147.424V44.7507ZM153.095%2037.4586H171.604V42.8133H153.095V37.4586ZM158.001%2030.2829H171.604V35.5462H158.017L158.001%2030.2829ZM164.012%2023.1073H171.604V28.3622H164.021L164.012%2023.1073ZM154.725%200.915039C151.068%200.920753%20147.491%201.98963%20144.431%203.99152C144.21%204.13045%20144.054%204.35129%20143.996%204.60546C143.939%204.85963%20143.984%205.12631%20144.123%205.34683C144.262%205.56735%20144.483%205.72365%20144.737%205.78135C144.991%205.83904%20145.258%205.79341%20145.479%205.65448C148.222%203.83891%20151.435%202.85965%20154.725%202.83576C164.012%202.83576%20171.604%2010.7016%20171.604%2020.355V21.1865H163.056C162.929%2021.1867%20162.803%2021.2126%20162.686%2021.2626C162.568%2021.3126%20162.463%2021.3857%20162.374%2021.4775C162.284%2021.5683%20162.213%2021.676%20162.164%2021.7944C162.116%2021.9129%20162.091%2022.0397%20162.092%2022.1677V28.3705H157.086C156.832%2028.3702%20156.587%2028.4686%20156.404%2028.6449C156.224%2028.8262%20156.123%2029.0711%20156.122%2029.3267V35.5462H152.097C151.842%2035.5507%20151.599%2035.6517%20151.415%2035.8289C151.239%2036.012%20151.141%2036.2565%20151.141%2036.5107V42.83H146.46C146.204%2042.83%20145.959%2042.9316%20145.778%2043.1125C145.597%2043.2933%20145.495%2043.5387%20145.495%2043.7945V50.0056H141.537C141.41%2050.0023%20141.283%2050.0246%20141.165%2050.0713C141.047%2050.1179%20140.939%2050.1879%20140.848%2050.2772C140.757%2050.3664%20140.685%2050.473%20140.637%2050.5907C140.588%2050.7083%20140.563%2050.8345%20140.565%2050.9618V57.2811H137.397V32.8106C137.384%2032.6496%20137.33%2032.4944%20137.242%2032.3592C137.153%2032.2241%20137.032%2032.1134%20136.889%2032.0373C136.748%2031.9606%20136.59%2031.9204%20136.429%2031.9205C136.268%2031.9205%20136.11%2031.9608%20135.968%2032.0377C135.827%2032.1145%20135.707%2032.2255%20135.62%2032.3605C135.532%2032.4955%20135.48%2032.6502%20135.468%2032.8106V58.2456C135.466%2058.3725%20135.491%2058.4983%20135.539%2058.6154C135.588%2058.7326%20135.66%2058.8387%20135.75%2058.9274C135.84%2059.0174%20135.946%2059.0887%20136.063%2059.1372C136.18%2059.1857%20136.305%2059.2105%20136.432%2059.2101H172.56C172.687%2059.2112%20172.814%2059.1871%20172.932%2059.1391C173.05%2059.0911%20173.157%2059.0203%20173.247%2058.9306C173.338%2058.8409%20173.41%2058.7342%20173.459%2058.6166C173.508%2058.4991%20173.533%2058.373%20173.533%2058.2456V20.355C173.533%209.61232%20165.093%200.915039%20154.725%200.915039Z%22%20fill%3D%22white%22%3E%3C/path%3E%3Cpath%20d%3D%22M1.80347%2039.1816L131.803%2039.1817%22%20stroke%3D%22white%22%20stroke-width%3D%221.95%22%20stroke-linecap%3D%22round%22%3E%3C/path%3E%3C/svg%3E");
}

.hero-links .link:hover {
	color: $light-primary;
}

.logo {
	padding-bottom: 51px;
}

.hero-socials {
	margin-top: -75px;
	margin-left: 0px;
	display: flex;
	gap: 20px;
	position: relative;
	z-index: 99999;
}

.hero-socials p {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 44px;
}

.rounded-socials {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 360px;
	position: relative;
	background: linear-gradient(180deg, $light-primary 0%, $yellow 46.5%);
	transition: background 0.3s ease;
	overflow: hidden;
}

.rounded-socials:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: $light-primary;
	transition: top 0.5s;
	z-index: 2;
}

.rounded-socials:hover:before {
	top: 0;
}


.rounded-socials img {
	z-index: 999;
}

/* ОТМЕНЯЕМ сброс для всех блоков, но сохраняем для кастомных */
.editor-styles-wrapper .acf-block-component {
	all: unset !important;
}